# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.propertise
*.tar.gz
*.rar
*.class
build/
/dist/
/nbproject/
/ccs.properties
nbproject/project.properties
nbproject/project.properties
nbproject/private/private.xml
nbproject/private/private.properties
Logs/logger.log
/build/
.DS_Store
/Logs/
build/classes/
*.class
/build/built-jar.properties

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/SM-FX/dist/
*.properties

SM-FX/ccs.properties

SM-FX/nbproject/jfx-impl_backup_3.xml

SM-FX/nbproject/private/private.properties

SM-FX/nbproject/UPDATED.TXT

SM-FX/dist/SM-FX.jnlp

SM-FX/dist/SM-FX.html

SM-FX/build/built-jar.properties
